{% extends 'home/base.html' %}

{% block head %}
<style>
body{
    padding-top: 70px;
}
</style>
{% endblock %}
{% block body %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  
        <div class="container">
    
          <!-- Brand -->
          <a class="navbar-brand waves-effect" href="{% url 'home' %}">
            <strong class="blue-text">Women's Paradise</strong>
          </a>
    
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
             <li> <div class="dropdown">
    
      <!--Trigger-->
      <button class="btn btn-md dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Categories</button>
    
      <!--Menu-->
      <div class="dropdown-menu dropdown-primary">
      {% for category in categories %}
        <a class="dropdown-item" href="#">{{category}}</a>
       {% endfor %}
      </div>
    </div> </li>
               <li>
        <form class="form-inline mr-auto mt-2 ml-2">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn blue-gradient btn-rounded btn-md my-0" type="submit">Search</button>
        </form>
        </li>
            </ul>
    
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                            {% if not request.user.is_authenticated %}
                            <a type="button" class="btn btn-gplus" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google-plus-g pr-1"></i> SignIn with Google </a>
                           {% else %}
                           <a type="button" class="btn btn-danger" href="{% url 'logout' %}"> Logout </a>
                            {% endif %} 
                 
                           </li>
                           {% if  request.user.is_authenticated %}
                           <li class="nav-item">
                             <a class="nav-link waves-effect" href="{% url 'cart' %}">
                               <span class="badge red z-depth-1 mr-1"> {{ user.buyer.cart_set.first.qty.count }} </span>
                               <i class="fas fa-shopping-cart"></i>
                               <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                             </a>
                           </li>
                           {% endif %}
    
          
            </ul>
    
          </div>
    
        </div>
      </nav>
<div class="container" style="padding-top: 10px;">

        <form class="text-center border border-light p-5" action="{% url 'create-seller' %}" method="POST">
                {% csrf_token %}
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Phone Number" name="phone_num"> <br>
                <input type="text" id="defaultadrressFormFirstName" class="form-control" placeholder="Address" name="address"> <br>
                <button class ="btn btn-primary" type="submit"> Submit </button> 
    </form>

</div>

{% endblock %}